<section class="wrap">
				<img class="search-logo" src="images/google.png" />
			<form>
				<input class="search-searchbar" type="text" />
				<button class="search-button">Search</button>
			</form>
		</section>
