<section class="wrap">
          <a href="/"><img class="results-logo"  src="img/google.png" /></a>
			<form method="post" action="/results">
				<input class="search-searchbar" type="text" name="search"/>
				<button class="search-button">Search</button>
			</form>
		</section>
